* {
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background-color: beige;
}

nav {
    background-color: #1ccad8;
    padding: 20px 10px;
}

header {
    justify-content: space-between;
    display: flex;
}

.navbar li {
    display: inline-block;
}

a:hover {
    color: #2f97c1;
    text-decoration: underline;
}

h1 {
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: #587291;
}


#logo{
    width: 8em;
    position: absolute;
    top: 2.5em;
    right: 2.5em;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

containerNavbar{
    display: flex;
    flex-direction: row;
}

.item {
    order: inherit;
    background-color: #ffd2fc;
    margin: 4em ;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

.textformating1 {
    color: #1ccad8;
    font-size: 1em;
    text-align: center;

}

.textformating2 {
    font-size: 1em;
    text-align: center;
}

input {
    text-align: center;
    margin: 0.5em;
}

button {
    margin: 0.5em;
    text-align: center;
    align-items: center;
    background-color: deeppink;
}
